@model IEnumerable<escuelaweb.Models.NonimaDocente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkIdGrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdDocenteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdMateriaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdGrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdDocenteNavigation.IdDocente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdMateriaNavigation.IdMateria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNonimnaDocente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNonimnaDocente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNonimnaDocente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
