@model escuelaweb.Models.Notum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Notum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdAlumnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdAlumnoNavigation.IdAlumno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdGradoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdGradoNavigation.IdGrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdMateriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdMateriaNavigation.IdMateria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
