@model IEnumerable<escuelaweb.Models.Notum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdAlumnoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdGradoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdMateriaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdAlumnoNavigation.IdAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdGradoNavigation.IdGrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdMateriaNavigation.IdMateria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNota" class="btn btn-outline-info mx-1"><i class="fa fa-solid fa-pencil"></i> Editar</a> 
                <a asp-action="Details" asp-route-id="@item.IdNota" class="btn btn-outline-success mx-1"><i class="fa fa-solid fa-file-pen"></i> Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.IdNota" class="btn btn-outline-danger mx-1"><i class="fa fa-solid fa-trash-can"></i> Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
