@model IEnumerable<escuelaweb.Models.NonimaAlumno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkIdAlumnoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdGradoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdAlumnoNavigation.IdAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdGradoNavigation.IdGrado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNonimnaAlumno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNonimnaAlumno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNonimnaAlumno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
